table {
  font-family: sans-serif;
  text-align: center;
  column-span: all;
  border: 4px solid #575d78;
  width: max-content;
  margin: auto;
  margin-top: 20px;
  font-weight: 600;
  border-radius: 10px;
}

td {
  border: 1px solid black;
  margin: 20px 20px;
  width: 140px;
  overflow: auto;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 800px) {
  td {
    width: 150px;
  }
}

@media only screen and (max-width: 600px) {
  td {
    width: 100px;
  }
}
  
@media only screen and (max-width: 550px) {
  td {
  width: 40px;
  }
}
  
.closeButtonTd {
  width: 20px;
  }
  
tbody {
  background-color: white;
  }
  
thead {
  background-color: #0001ff61;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
td {
  width: 80px;
  padding: 6px;
  }

th {
  padding-left: 20px;
  padding-right: 20px;
  font-family: sans-serif;
  width: 100%;
  min-width: 110px;
  }
  
th:hover {
  background-color: #0000ff91;
  color: white;
}